Package: com.fatih.prohack
Name: Fatih-New-Hack
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Fatih PUBG Mobile Hack
Maintainer: Fatih
Author: Fatih
Section: Tweaks
