Package: com.fatih.ultimate
Name: Fatih-New-Hack
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Premium Mod: Anti-Ban, Fly, Magic Bullet, iPad View
Maintainer: Bilal
Author: Bilal
